<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TunaAutomation</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.tuna.plugins.automation</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunaAutomation</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E236</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E236</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2640</string>
	<key>DTXcodeBuild</key>
	<string>17E192</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>TunaAutomation.AutomationExtension</string>
	<key>TKExtension</key>
	<dict>
		<key>Catalogs</key>
		<array>
			<dict>
				<key>Class</key>
				<string>ShortcutsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>ShortcutsCatalog</string>
				<key>Name</key>
				<string>Shortcuts</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>QuickActionsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>QuickActionsCatalog</string>
				<key>Name</key>
				<string>Quick Actions</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>ScriptsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>ScriptsCatalog</string>
				<key>Name</key>
				<string>Scripts</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>SystemTasksCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>SystemTasksCatalog</string>
				<key>Name</key>
				<string>System Tasks</string>
				<key>Settings</key>
				<array/>
			</dict>
		</array>
		<key>DefaultActionRankings</key>
		<array/>
		<key>Identifier</key>
		<string>com.brnbw.tuna.plugins.automation</string>
		<key>Metadata</key>
		<dict>
			<key>Author</key>
			<string>Tuna</string>
			<key>Categories</key>
			<array>
				<string>Automation</string>
			</array>
			<key>Description</key>
			<string>Run Shortcuts, Quick Actions, scripts, and system tasks.</string>
			<key>IconName</key>
			<string>bolt.circle</string>
			<key>Name</key>
			<string>Automation</string>
		</dict>
		<key>TypeRegistrations</key>
		<array/>
	</dict>
</dict>
</plist>
