<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TunaContacts</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.tuna.plugins.contacts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunaContacts</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E236</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E236</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2640</string>
	<key>DTXcodeBuild</key>
	<string>17E192</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>TunaContacts.ContactsExtension</string>
	<key>TKExtension</key>
	<dict>
		<key>AppBrowseHandlers</key>
		<array>
			<dict>
				<key>BundleIDs</key>
				<array>
					<string>com.apple.AddressBook</string>
					<string>com.apple.PeopleViewService</string>
				</array>
				<key>Entries</key>
				<array>
					<dict>
						<key>CatalogID</key>
						<string>ContactsCatalog</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Catalogs</key>
		<array>
			<dict>
				<key>Class</key>
				<string>ContactsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>ContactsCatalog</string>
				<key>Name</key>
				<string>Contacts</string>
				<key>Settings</key>
				<array/>
			</dict>
		</array>
		<key>DefaultActionRankings</key>
		<array/>
		<key>Identifier</key>
		<string>com.brnbw.tuna.plugins.contacts</string>
		<key>Metadata</key>
		<dict>
			<key>Author</key>
			<string>Tuna</string>
			<key>Categories</key>
			<array>
				<string>Contacts</string>
			</array>
			<key>Description</key>
			<string>Search contacts and related actions.</string>
			<key>IconName</key>
			<string>person.crop.circle</string>
			<key>Name</key>
			<string>Contacts</string>
		</dict>
		<key>TypeRegistrations</key>
		<array/>
	</dict>
</dict>
</plist>
