<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TunaCore</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.TunaCore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunaCore</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E236</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E236</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2640</string>
	<key>DTXcodeBuild</key>
	<string>17E192</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>TunaCore.TunaCore</string>
	<key>TKExtension</key>
	<dict>
		<key>Catalogs</key>
		<array>
			<dict>
				<key>Class</key>
				<string>AllApplicationsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>core</string>
				<key>ID</key>
				<string>AllApplicationsCatalog</string>
				<key>Name</key>
				<string>Applications</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>SystemApplicationsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>core</string>
				<key>ID</key>
				<string>SystemApplicationsCatalog</string>
				<key>Name</key>
				<string>System Applications</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>CommonActionsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>meta</string>
				<key>ID</key>
				<string>CommonActionsCatalog</string>
				<key>Name</key>
				<string>Common Actions</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>TextActionsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>meta</string>
				<key>ID</key>
				<string>TextActionsCatalog</string>
				<key>Name</key>
				<string>Text Actions</string>
				<key>Settings</key>
				<array>
					<dict>
						<key>Default</key>
						<string>txt</string>
						<key>Description</key>
						<string>Used when saving text to a new file.</string>
						<key>Key</key>
						<string>TextActionsFileExtension</string>
						<key>Label</key>
						<string>Default file extension</string>
						<key>Type</key>
						<string>String</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Class</key>
				<string>RunningProcessesCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>core</string>
				<key>ID</key>
				<string>RunningProcessesCatalog</string>
				<key>Name</key>
				<string>Running Processes</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>RecentsCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>user</string>
				<key>ID</key>
				<string>RecentsCatalog</string>
				<key>Name</key>
				<string>Recents</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>RecentsSearchCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>user</string>
				<key>ID</key>
				<string>RecentsSearchCatalog</string>
				<key>Name</key>
				<string>Recents</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>FinderFavoritesCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>user</string>
				<key>ID</key>
				<string>FinderFavoritesCatalog</string>
				<key>Name</key>
				<string>Finder Favorites</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>UserFoldersCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>user</string>
				<key>ID</key>
				<string>UserFoldersCatalog</string>
				<key>Name</key>
				<string>Home Folder</string>
				<key>Settings</key>
				<array/>
			</dict>
		</array>
		<key>DefaultActionRankings</key>
		<array/>
		<key>Identifier</key>
		<string>com.brnbw.TunaCore</string>
		<key>Metadata</key>
		<dict>
			<key>Author</key>
			<string>Tuna</string>
			<key>Categories</key>
			<array>
				<string>Core</string>
			</array>
			<key>Description</key>
			<string>Core catalogs for apps, actions, and recents.</string>
			<key>IconName</key>
			<string>gear</string>
			<key>Name</key>
			<string>Core</string>
		</dict>
		<key>TypeRegistrations</key>
		<array/>
	</dict>
</dict>
</plist>
