<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25E246</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TunaEmoji</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.tuna.plugins.emoji</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TunaEmoji</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25E236</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.4</string>
	<key>DTSDKBuild</key>
	<string>25E236</string>
	<key>DTSDKName</key>
	<string>macosx26.4</string>
	<key>DTXcode</key>
	<string>2640</string>
	<key>DTXcodeBuild</key>
	<string>17E192</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>TunaEmoji.EmojiExtension</string>
	<key>TKExtension</key>
	<dict>
		<key>Catalogs</key>
		<array>
			<dict>
				<key>Class</key>
				<string>EmojiCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>EmojiCatalog</string>
				<key>Name</key>
				<string>Emoji</string>
				<key>Settings</key>
				<array/>
			</dict>
			<dict>
				<key>Class</key>
				<string>EmojiSearchCatalog</string>
				<key>EnabledByDefault</key>
				<true/>
				<key>Group</key>
				<string>plugins</string>
				<key>ID</key>
				<string>EmojiSearchCatalog</string>
				<key>Name</key>
				<string>Emoji</string>
				<key>Settings</key>
				<array/>
			</dict>
		</array>
		<key>DefaultActionRankings</key>
		<array/>
		<key>Identifier</key>
		<string>com.brnbw.tuna.plugins.emoji</string>
		<key>Metadata</key>
		<dict>
			<key>Author</key>
			<string>Tuna</string>
			<key>Categories</key>
			<array>
				<string>Emoji</string>
			</array>
			<key>Description</key>
			<string>Search and browse emoji.</string>
			<key>IconName</key>
			<string>face.smiling</string>
			<key>Name</key>
			<string>Emoji</string>
		</dict>
		<key>Settings</key>
		<array>
			<dict>
				<key>Default</key>
				<string>default</string>
				<key>Description</key>
				<string>Choose default, light, medium-light, medium, medium-dark, or dark (or paste a modifier emoji).</string>
				<key>Key</key>
				<string>EmojiSkinTone</string>
				<key>Label</key>
				<string>Skin tone</string>
				<key>Type</key>
				<string>String</string>
			</dict>
		</array>
		<key>TypeRegistrations</key>
		<array/>
	</dict>
</dict>
</plist>
